<body>
    <div class="container-fixed">
        <mat-toolbar color="primary" >
        <span style="align-items: center"><b>Login / Register to apply for loans</b></span>
        <span class="space"></span>
        
        <button mat-raised-button >
        <a routerLink="/login" style="text-decoration: none; color:rgb(0, 0, 0)">Login</a>
        </button> &nbsp;&nbsp;
        <button mat-raised-button >
        <a routerLink="/register" style="text-decoration: none;color:rgb(0, 0, 0)">Register</a>
        </button>
        </mat-toolbar>
        <mat-grid-list cols="3" rowHeight="2:2">
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Gold Loan</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./assets/gold.jpg" style="height: 200px;" alt="Photo of a Gold loan">
                <mat-card-content >
                    <p>
                        Details
                    </p>
                    <pre><b>Loan amount</b>             Rs.5,000 to Rs.35 lakh</pre>
                    <pre><b>Loan Intrest</b>            8% p.a. to 24% p.a.</pre>
                    <pre><b>Lender</b>                  Kotak Gold Loan</pre>
                    <pre><b>Duration</b>                !2 to 24 months</pre>
                </mat-card-content>
                </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Educational Loan</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./assets/education.jpg" alt="Photo of a Educational loan">
                <mat-card-content>
                    <p>
                        Details
                    </p>
                    <pre><b>Loan amount</b>             Rs.50,000 to Rs.15 lakh</pre>
                    <pre><b>Loan Intrest</b>            9.50% p.a.</pre>
                    <pre><b>Lender</b>                  HDFC Bank</pre>
                    <pre><b>Duration</b>                upto 15 years</pre>
                </mat-card-content>
                </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Home Loan</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="./assets/homeloan.jpg" style="height: 200px;" alt="Photo of a home loan">
                <mat-card-content>
                    <p>
                        Details   
                    </p>
                    <pre><b>Loan amount</b>             upto Rs.50 lakh</pre>
                    <pre><b>Loan Intrest</b>            8.60% - 9.50%</pre>
                    <pre><b>Lender</b>                  HDFC Home Loan</pre>
                    <pre><b>Duration</b>                upto 30 years</pre>
                </mat-card-content>
                </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                    <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Vehicle Loan</mat-card-title>
                    </mat-card-header>
                <img mat-card-image src="./assets/vehicle.jpg" alt="Photo of a vehcile loan">
                <mat-card-content>
                    <p>
                        Details
                    </p>
                    <pre><b>Loan amount</b>             Rs.5,000 to Rs.35 lakh</pre>
                    <pre><b>Loan Intrest</b>            11.00% p.a. onwards</pre>
                    <pre><b>Lender</b>                  Federal Bank</pre>
                    <pre><b>Duration</b>                upto 7 years</pre>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card">
                    <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Medical Loan</mat-card-title>
                    </mat-card-header>
                <img mat-card-image src="./assets/medical.jpg" style="height: 200px;" alt="Photo of a vehcile loan">
                <mat-card-content>
                    <p>
                        Details
                    </p>
                    <pre><b>Loan amount</b>             upto Rs.35 lakh</pre>
                    <pre><b>Loan Intrest</b>            10.49%</pre>
                    <pre><b>Lender</b>                  Fullerton India</pre>
                    <pre><b>Duration</b>                upto 5 years</pre>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <mat-card class="example-card">
                    <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Agriculture Loan</mat-card-title>
                    </mat-card-header>
                <img mat-card-image src="./assets/agri.jpg" style="height: 195px;" alt="Photo of a vehcile loan">
                <mat-card-content>
                    <p>
                        Details
                    </p>
                    <pre><b>Loan amount</b>             Rs.50,000 onward</pre>
                    <pre><b>Loan Intrest</b>            10.7% p.a.</pre>
                    <pre><b>Lender</b>                  Karur Vysya Bank</pre>
                    <pre><b>Duration</b>                upto 4 years</pre>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        </mat-grid-list>
        </div>
</body>

