.space {
    flex: 1 1 auto;
}

// mat-grid-tile {
//     background: lightblue;
//   }
.example-card {
    max-width: 400px;
  }
body{
    background-image: url('https://www.kvgbank.com/images/products/karnataka-vikas-grameena-bank.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

