<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body>
<div id="navbar">
    <ul class="nav">
        <li>
            Welcome User !!!
        </li>
    </ul>
</div>
<div class="wrapper">
    <input type="checkbox" id="btn" hidden>
    <label for="btn" class="menu-btn">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
    </label>
    <nav id="sidebar">
      <div class="title">User</div>
      <ul class="list-items">
        <li><a routerLink="/user"><i class="fas fa-home"></i>Home</a></li><br>
        <li><a routerLink="/userapply"><i class="fa-solid fa-user"></i>Apply Loan</a></li><br>
        <li><a routerLink="/userloan"><i class="fa-solid fa-landmark"></i>View Status</a></li>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <li><a routerLink=""><i class="fa-solid fa-right-from-bracket"></i>Log out</a></li>
      </ul>
    </nav>
  </div>
  
  <img src="./assets/userhome.jpg" >
</body>
    

